<?xml version="1.0"?>
<config>
  <modules>
    <Veritrans_Vtwebbin>
      <version>0.1.0</version>
    </Veritrans_Vtwebbin>
  </modules>
  <global>
    <models>
      <vtwebbin>
        <class>Veritrans_Vtwebbin_Model</class>
      </vtwebbin>
    </models>
    <helpers>
      <vtwebbin>
        <class>Veritrans_Vtwebbin_Helper</class>
      </vtwebbin>
    </helpers>
    <blocks>
      <vtwebbin>
        <class>Veritrans_Vtwebbin_Block</class>
      </vtwebbin>
    </blocks>
    <adminhtml>
      <layout>
        <updates>
          <vtwebbin>
            <file>veritrans.xml</file>
          </vtwebbin>
        </updates>
      </layout>
    </adminhtml>
  </global>
  <default>
    <payment>
      <vtwebbin>
        <model>vtwebbin/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>Credit Card</title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
        <conversion_rate>10000</conversion_rate>
      </vtwebbin>
    </payment>
  </default>
  <frontend>
    <routers>
      <vtwebbin>
        <use>standard</use>
        <args>
          <module>Veritrans_Vtwebbin</module>
          <frontName>vtwebbin</frontName>
        </args>
      </vtwebbin>
    </routers>
  </frontend>
  <adminhtml>
    <layout>
      <updates>
        <veritrans_vtwebbin>
          <file>veritrans.xml</file>
        </veritrans_vtwebbin>
      </updates>
    </layout>
  </adminhtml>
</config>
