<?xml version="1.0"?>
<config>
  <modules>
    <Veritrans_Vtwebbcains>
      <version>0.1.0</version>
    </Veritrans_Vtwebbcains>
  </modules>
  <global>
    <models>
      <vtwebbcains>
        <class>Veritrans_Vtwebbcains_Model</class>
      </vtwebbcains>
    </models>
    <helpers>
      <vtwebbcains>
        <class>Veritrans_Vtwebbcains_Helper</class>
      </vtwebbcains>
    </helpers>
    <blocks>
      <vtwebbcains>
        <class>Veritrans_Vtwebbcains_Block</class>
      </vtwebbcains>
    </blocks>
    <adminhtml>
      <layout>
        <updates>
          <vtwebbcains>
            <file>veritrans.xml</file>
          </vtwebbcains>
        </updates>
      </layout>
    </adminhtml>
  </global>
  <default>
    <payment>
      <vtwebbcains>
        <model>vtwebbcains/standard</model>
        <active>0</active>
        <title>Credit card installment BCA</title>
        <sort_order>4</sort_order>
        <treshold>500000</treshold>
        <enable_3d_secure>true</enable_3d_secure>
      </vtwebbcains>
    </payment>
  </default>
  <frontend>
    <routers>
      <vtwebbcains>
        <use>standard</use>
        <args>
          <module>Veritrans_Vtwebbcains</module>
          <frontName>vtwebbcains</frontName>
        </args>
      </vtwebbcains>
    </routers>
  </frontend>
  <adminhtml>
    <layout>
      <updates>
        <veritrans_vtwebbcains>
          <file>veritrans.xml</file>
        </veritrans_vtwebbcains>
      </updates>
    </layout>
  </adminhtml>
</config>
