<?xml version="1.0"?>
<config>
  <modules>
    <Veritrans_VtWeb>
      <version>0.1.0</version>
    </Veritrans_VtWeb>
  </modules>
  <global>
    <models>
      <vtweb>
        <class>Veritrans_Vtweb_Model</class>
      </vtweb>
    </models>
    <helpers>
      <vtweb>
        <class>Veritrans_Vtweb_Helper</class>
      </vtweb>
    </helpers>
    <blocks>
      <vtweb>
        <class>Veritrans_Vtweb_Block</class>
      </vtweb>
    </blocks>
  </global>
  <default>
    <payment>
      <vtweb>
        <model>vtweb/standard</model>
        <active>1</active>
        <order_status>pending</order_status>
        <title>Veritrans VT Web</title>
        <payment_action>sale</payment_action>
        <allowspecific>0</allowspecific>
        <sort_order>1</sort_order>
      </vtweb>
    </payment>
  </default>
  <frontend>
    <routers>
      <vtweb>
        <use>standard</use>
        <args>
          <module>Veritrans_Vtweb</module>
          <frontName>vtweb</frontName>
        </args>
      </vtweb>
    </routers>
  </frontend>
</config>
