<?xml version="1.0"?>
<config>
  <sections>
    <payment>
      <groups>
        <vtweb translate="label comment" module="vtweb">
          <label>Veritrans ver 2.2.3</label>
          <frontend_type>text</frontend_type>
          <sort_order>1</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <vtweb_general type="group" translate="label">
              <label>General</label>
              <frontend_type>text</frontend_type>              
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <sort_order>1</sort_order>
              <fields>
                <active translate="label">
                  <label>Enabled</label>
                  <config_path>payment/vtweb/active</config_path>
                  <frontend_type>select</frontend_type>
                  <source_model>adminhtml/system_config_source_yesno</source_model>
                  <sort_order>1</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>0</show_in_store>
                </active>                
                <title translate="label">
                  <label>Title</label>
                  <config_path>payment/vtweb/title</config_path>
                  <frontend_type>text</frontend_type>
                  <sort_order>2</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                </title>
                <order_status translate="label">
                  <label>New Order Status</label>
                  <config_path>payment/vtweb/order_status</config_path>
                  <frontend_type>select</frontend_type>
                  <source_model>adminhtml/system_config_source_order_status</source_model>
                  <sort_order>3</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>0</show_in_store>
                </order_status>
                <conversion_rate translate="label">
                  <label>Conversion Rate</label>
                  <config_path>payment/vtweb/conversion_rate</config_path>
                  <frontend_type>text</frontend_type>
                  <sort_order>4</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                  <comment>This conversion rate will be used if the IDR currency is not installed in your system.</comment>
                </conversion_rate>            
                <client_key_v2>
                  <label>Client Key</label>                  
                  <config_path>payment/vtweb/client_key_v2</config_path>
                  <frontend_type>text</frontend_type>
                  <sort_order>5</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                </client_key_v2>
                <server_key_v2>
                  <label>Server Key</label>
                  <config_path>payment/vtweb/server_key_v2</config_path>
                  <frontend_type>text</frontend_type>
                  <sort_order>6</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                </server_key_v2>
                <environment>
                  <label>Environment</label>
                  <config_path>payment/vtweb/environment</config_path>
                  <frontend_type>select</frontend_type>
                  <source_model>vtweb/system_config_source_api_environment</source_model>
                  <sort_order>7</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                  <comment>Change to 'Production' once your store is going live</comment>
                </environment>
                <enable_3d_secure>
                  <label>Enable 3D Secure</label>
                  <config_path>payment/vtweb/enable_3d_secure</config_path>
                  <frontend_type>select</frontend_type>
                  <source_model>adminhtml/system_config_source_yesno</source_model>
                  <sort_order>8</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                  <comment>You must enable 3D Secure. Please contact us if you wish to disable this feature in the Production environment.</comment>
                </enable_3d_secure>
                <enable_sanitized>
                  <label>Enable Sanitization</label>
                  <config_path>payment/vtweb/enable_sanitized</config_path>
                  <frontend_type>select</frontend_type>
                  <source_model>adminhtml/system_config_source_yesno</source_model>
                  <sort_order>9</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                </enable_sanitized>
                <form_message>
                  <label>Form Message</label>
                  <config_path>payment/vtweb/form_message</config_path>
                  <frontend_type>textarea</frontend_type>
                  <sort_order>10</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>0</show_in_store>
                </form_message>                        
                <info_type>
                  <label>Show Veritrans logo as Info?</label>
                  <frontend_type>select</frontend_type>
                  <config_path>payment/vtweb/info_type</config_path>
                  <source_model>adminhtml/system_config_source_yesno</source_model>
                  <sort_order>11</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>0</show_in_store>
                </info_type>
                <allowspecific translate="label">
                  <label>Payment Applicable From</label>
                  <config_path>payment/vtweb/allowspecific</config_path>
                  <frontend_type>select</frontend_type>
                  <sort_order>12</sort_order>
                  <source_model>adminhtml/system_config_source_payment_allspecificcountries</source_model>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>0</show_in_store>
                </allowspecific>
                <specificcountry translate="label">
                  <label>Countries Payment Applicable From</label>
                  <config_path>payment/vtweb/specificcountry</config_path>
                  <frontend_type>multiselect</frontend_type>
                  <sort_order>13</sort_order>
                  <source_model>adminhtml/system_config_source_country</source_model>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>0</show_in_store>
                  <depends>
                    <allowspecific>1</allowspecific>
                  </depends>
                </specificcountry>
                <sort_order translate="label">
                  <label>Sort Order</label>
                  <config_path>payment/vtweb/sort_order</config_path>
                  <frontend_type>text</frontend_type>
                  <sort_order>14</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>0</show_in_store>
                </sort_order>
              </fields>
            </vtweb_general>
            <vtweb_credit_card type="group" translate="label">
              <label>Credit Card</label>
              <frontend_type>text</frontend_type>              
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <sort_order>2</sort_order>
              <fields>
                <enable_creditcard>
                  <label>Enable Credit Card</label>
                  <config_path>payment/vtweb/enable_creditcard</config_path>
                  <frontend_type>select</frontend_type>
                  <source_model>adminhtml/system_config_source_yesno</source_model>
                  <sort_order>1</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                  <comment>Please contact us if you wish to enable this feature in Production</comment>
                </enable_creditcard>
              </fields>
            </vtweb_credit_card>
            <vtweb_internet_banking type="group" translate="label">
              <label>Internet Banking</label>
              <frontend_type>text</frontend_type>              
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <sort_order>3</sort_order>
              <fields>
                <enable_mandiriclickpay>
                  <label>Enable Mandiri ClickPay</label>
                  <config_path>payment/vtweb/enable_mandiriclickpay</config_path>
                  <frontend_type>select</frontend_type>
                  <source_model>adminhtml/system_config_source_yesno</source_model>
                  <sort_order>1</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                  <comment>Please contact us if you wish to enable this feature in Production</comment>
                </enable_mandiriclickpay>
                <enable_cimbclick>
                  <label>Enable CIMB Clicks</label>
                  <config_path>payment/vtweb/enable_cimbclick</config_path>
                  <frontend_type>select</frontend_type>
                  <source_model>adminhtml/system_config_source_yesno</source_model>
                  <sort_order>2</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                  <comment>Please contact us if you wish to enable this feature in Production</comment>
                </enable_cimbclick>
                <enable_briepay>
                  <label>Enable BRI epay</label>
                  <config_path>payment/vtweb/enable_briepay</config_path>
                  <frontend_type>select</frontend_type>
                  <source_model>adminhtml/system_config_source_yesno</source_model>
                  <sort_order>3</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                  <comment>Please contact us if you wish to enable this feature in Production</comment>
                </enable_briepay>
              </fields>
            </vtweb_internet_banking>
         <vtweb_bank_transfer type="group" translate="label">
              <label>Bank Transfer</label>
              <frontend_type>text</frontend_type>              
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <sort_order>4</sort_order>
              <fields>
                <enable_permata_va>
                  <label>Enable Permata VA</label>
                  <config_path>payment/vtweb/enable_permatava</config_path>
                  <frontend_type>select</frontend_type>
                  <source_model>adminhtml/system_config_source_yesno</source_model>
                  <sort_order>1</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                  <comment>Please contact us if you wish to enable this feature in Production</comment>
                </enable_permata_va>
                <enable_mandiri_bill>
                  <label>Enable Mandiri Bill Payment</label>
                  <config_path>payment/vtweb/enable_mandiribill</config_path>
                  <frontend_type>select</frontend_type>
                  <source_model>adminhtml/system_config_source_yesno</source_model>
                  <sort_order>1</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                  <comment>Please contact us if you wish to enable this feature in Production</comment>
                </enable_mandiri_bill>
              </fields>
            </vtweb_bank_transfer>
            <vtweb_mobile_payment type="group" translate="label">
              <label>Mobile Payment</label>
              <frontend_type>text</frontend_type>              
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <sort_order>5</sort_order>
              <fields>
                <enable_tcash>
                  <label>Enable T-Cash</label>
                  <config_path>payment/vtweb/enable_tcash</config_path>
                  <frontend_type>select</frontend_type>
                  <source_model>adminhtml/system_config_source_yesno</source_model>
                  <sort_order>1</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                  <comment>Please contact us if you wish to enable this feature in Production</comment>
                </enable_tcash>
                <enable_xltunai>
                  <label>Enable XL-Tunai</label>
                  <config_path>payment/vtweb/enable_xltunai</config_path>
                  <frontend_type>select</frontend_type>
                  <source_model>adminhtml/system_config_source_yesno</source_model>
                  <sort_order>2</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                  <comment>Please contact us if you wish to enable this feature in Production</comment>
                </enable_xltunai>
                <enable_bbmmoney>
                  <label>Enable BBM Money</label>
                  <config_path>payment/vtweb/enable_bbmmoney</config_path>
                  <frontend_type>select</frontend_type>
                  <source_model>adminhtml/system_config_source_yesno</source_model>
                  <sort_order>3</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                  <comment>Please contact us if you wish to enable this feature in Production</comment>
                </enable_bbmmoney>
                <enable_indosatdompetku>
                  <label>Enable Indosat Dompetku</label>
                  <config_path>payment/vtweb/enable_dompetku</config_path>
                  <frontend_type>select</frontend_type>
                  <source_model>adminhtml/system_config_source_yesno</source_model>
                  <sort_order>4</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                  <comment>Please contact us if you wish to enable this feature in Production</comment>
                </enable_indosatdompetku>
              </fields>
            </vtweb_mobile_payment>
            <vtweb_convenient_store type="group" translate="label">
              <label>Convenient Store</label>
              <frontend_type>text</frontend_type>              
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <sort_order>6</sort_order>
              <fields>
                <enable_indomaret>
                  <label>Enable Indomaret</label>
                  <config_path>payment/vtweb/enable_indomaret</config_path>
                  <frontend_type>select</frontend_type>
                  <source_model>adminhtml/system_config_source_yesno</source_model>
                  <sort_order>1</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                  <comment>Please contact us if you wish to enable this feature in Production</comment>
                </enable_indomaret>
              </fields>
            </vtweb_convenient_store>
<!--            <vtweb_installment type="group" translate="label">
              <label>Installment</label>
              <frontend_type>text</frontend_type>              
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
              <sort_order>7</sort_order>
              <fields>
                <enable_installment>
                  <label>Enable Installment</label>
                  <config_path>payment/vtweb/enable_installment</config_path>
                  <frontend_type>select</frontend_type>
                  <source_model>vtweb/system_config_source_installment_options</source_model>
                  <sort_order>1</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                  <comment>
                    Please contact us if you wish to enable this feature in Production
                    <![CDATA[
                      <script src="http://ajax.googleapis.com/ajax/libs/prototype/1.7.1.0/prototype.js"></script>
                      <script>
                        Event.observe('payment_vtweb_installment_enable_installment', 'change', function() {
                          var installmentOptions = document.getElementById('payment_vtweb_installment_enable_installment').value;
                          var isEnabledBni = document.getElementById('payment_vtweb_installment_enable_installment_bni').value;
                          var isEnabledMandiri = document.getElementById('payment_vtweb_installment_enable_installment_mandiri').value;

                          if (installmentOptions == 'off') {
                            document.getElementById("row_payment_vtweb_installment_enable_installment_bni").style.display = 'none';
                            document.getElementById('row_payment_vtweb_installment_installment_bni_term').style.display = 'none';
                            document.getElementById("payment_vtweb_installment_enable_installment_bni").value = 0;

                            document.getElementById("row_payment_vtweb_installment_enable_installment_mandiri").style.display = 'none';
                            document.getElementById('row_payment_vtweb_installment_installment_mandiri_term').style.display = 'none';
                            document.getElementById("payment_vtweb_installment_enable_installment_mandiri").value = 0;
                          }
                          else if (installmentOptions == 'certainProducts') {
                            document.getElementById("row_payment_vtweb_installment_enable_installment_bni").style.display = '';
                            document.getElementById('row_payment_vtweb_installment_installment_bni_term').style.display = 'none';

                            document.getElementById("row_payment_vtweb_installment_enable_installment_mandiri").style.display = '';
                            document.getElementById('row_payment_vtweb_installment_installment_mandiri_term').style.display = 'none';
                          }
                          else {
                            //bni
                            document.getElementById("row_payment_vtweb_installment_enable_installment_bni").style.display = '';

                            if (isEnabledBni == 0) {
                              document.getElementById('row_payment_vtweb_installment_installment_bni_term').style.display = 'none';
                            }
                            else {
                              document.getElementById('row_payment_vtweb_installment_installment_bni_term').style.display = '';
                            }

                            //mandiri
                            document.getElementById("row_payment_vtweb_installment_enable_installment_mandiri").style.display = '';

                            if (isEnabledMandiri == 0) {
                              document.getElementById('row_payment_vtweb_installment_installment_mandiri_term').style.display = 'none';
                            }
                            else {
                              document.getElementById('row_payment_vtweb_installment_installment_mandiri_term').style.display = '';
                            }
                          }
                        })
                      </script>
                    ]]>
                  </comment>
                </enable_installment>
                <enable_installment_bni>
                  <label>Enable Installment BNI</label>
                  <config_path>payment/vtweb/enable_installment_bni</config_path>
                  <frontend_type>select</frontend_type>
                  <source_model>adminhtml/system_config_source_yesno</source_model>
                  <sort_order>2</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                  <comment>
                    <![CDATA[
                      <script src="http://ajax.googleapis.com/ajax/libs/prototype/1.7.1.0/prototype.js"></script>
                      <script>
                        Event.observe(window, 'load', function() {
                          var installmentOptions = document.getElementById('payment_vtweb_installment_enable_installment').value;

                          if (installmentOptions == 'off') {
                            document.getElementById('row_payment_vtweb_installment_enable_installment_bni').style.display = 'none';
                          }
                          else {
                            document.getElementById("row_payment_vtweb_installment_enable_installment_bni").style.display = '';
                          }
                        });

                        Event.observe('payment_vtweb_installment_enable_installment_bni', 'change', function() {
                          var isEnabledBni = document.getElementById('payment_vtweb_installment_enable_installment_bni').value;
                          var installmentOptions = document.getElementById('payment_vtweb_installment_enable_installment').value;

                          if ((isEnabledBni == 0) || (installmentOptions != 'allProducts')) {
                            document.getElementById("row_payment_vtweb_installment_installment_bni_term").style.display = 'none';
                          }
                          else {
                            document.getElementById("row_payment_vtweb_installment_installment_bni_term").style.display = '';
                          }
                        });
                      </script>
                    ]]>
                  </comment>
                </enable_installment_bni>
                <installment_bni_term>
                  <label>Installment BNI Term</label>
                  <config_path>payment/vtweb/installment_bni_term</config_path>
                  <frontend_type>text</frontend_type>
                  <sort_order>3</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                  <comment>
                    please insert installment term, separate by ',' for multiple value
                    <![CDATA[
                      <script src="http://ajax.googleapis.com/ajax/libs/prototype/1.7.1.0/prototype.js"></script>
                      <script>
                        Event.observe(window, 'load', function() {
                          var isEnabledBni = document.getElementById('payment_vtweb_installment_enable_installment_bni').value;
                          var installmentOptions = document.getElementById('payment_vtweb_installment_enable_installment').value;
                          document.getElementById('payment_vtweb_installment_installment_bni_term').size = 3;

                          if ((isEnabledBni == 0) || (installmentOptions != 'allProducts')) {
                            document.getElementById("row_payment_vtweb_installment_installment_bni_term").style.display = 'none';
                          }
                          else {
                            document.getElementById("row_payment_vtweb_installment_installment_bni_term").style.display = '';
                          }
                        })
                      </script>
                    ]]>
                  </comment>
                </installment_bni_term>
                <enable_installment_mandiri>
                  <label>Enable Installment Mandiri</label>
                  <config_path>payment/vtweb/enable_installment_mandiri</config_path>
                  <frontend_type>select</frontend_type>
                  <source_model>adminhtml/system_config_source_yesno</source_model>
                  <sort_order>4</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                  <comment>
                    <![CDATA[
                      <script src="http://ajax.googleapis.com/ajax/libs/prototype/1.7.1.0/prototype.js"></script>
                      <script>
                        Event.observe(window, 'load', function() {
                          var installmentOptions = document.getElementById('payment_vtweb_installment_enable_installment').value;

                          if (installmentOptions == 'off') {
                            document.getElementById('row_payment_vtweb_installment_enable_installment_mandiri').style.display = 'none';
                          }
                          else {
                            document.getElementById("row_payment_vtweb_installment_enable_installment_mandiri").style.display = '';
                          }
                        });

                        Event.observe('payment_vtweb_installment_enable_installment_mandiri', 'change', function() {
                          var isEnabledMandiri = document.getElementById('payment_vtweb_installment_enable_installment_mandiri').value;
                          var installmentOptions = document.getElementById('payment_vtweb_installment_enable_installment').value;

                          if ((isEnabledMandiri == 0) || (installmentOptions != 'allProducts')) {
                            document.getElementById("row_payment_vtweb_installment_installment_mandiri_term").style.display = 'none';
                          }
                          else {
                            document.getElementById("row_payment_vtweb_installment_installment_mandiri_term").style.display = '';
                          }
                        });
                      </script>
                    ]]>
                  </comment>
                </enable_installment_mandiri>
                <installment_mandiri_term>
                  <label>Installment Mandiri Term</label>
                  <config_path>payment/vtweb/installment_mandiri_term</config_path>
                  <frontend_type>text</frontend_type>
                  <sort_order>5</sort_order>
                  <show_in_default>1</show_in_default>
                  <show_in_website>1</show_in_website>
                  <show_in_store>1</show_in_store>
                  <comment>
                    please insert installment term, separate by ',' for multiple value
                    <![CDATA[
                      <script src="http://ajax.googleapis.com/ajax/libs/prototype/1.7.1.0/prototype.js"></script>
                      <script>
                        Event.observe(window, 'load', function() {
                          var isEnabledMandiri = document.getElementById('payment_vtweb_installment_enable_installment_mandiri').value;
                          var installmentOptions = document.getElementById('payment_vtweb_installment_enable_installment').value;
                          document.getElementById('payment_vtweb_installment_installment_mandiri_term').size = 3;

                          if ((isEnabledMandiri == 0) || (installmentOptions != 'allProducts')) {
                            document.getElementById("row_payment_vtweb_installment_installment_mandiri_term").style.display = 'none';
                          }
                          else {
                            document.getElementById("row_payment_vtweb_installment_installment_mandiri_term").style.display = '';
                          }
                        })
                      </script>
                    ]]>
                  </comment>
                </installment_mandiri_term>
              </fields>
            </vtweb_installment> -->   
          </fields>
        </vtweb>
      </groups>
    </payment>
  </sections>
</config>
