<?xml version="1.0"?>
<config>
  <modules>
    <Veritrans_VtWebmandiri>
      <version>0.1.0</version>
    </Veritrans_VtWebmandiri>
  </modules>
  <global>
    <models>
      <vtwebmandiri>
        <class>Veritrans_Vtwebmandiri_Model</class>
      </vtwebmandiri>
    </models>
    <helpers>
      <vtwebmandiri>
        <class>Veritrans_Vtwebmandiri_Helper</class>
      </vtwebmandiri>
    </helpers>
    <blocks>
      <vtwebmandiri>
        <class>Veritrans_Vtwebmandiri_Block</class>
      </vtwebmandiri>
    </blocks>
    <adminhtml>
      <layout>
        <updates>
          <vtwebmandiri>
            <file>veritrans.xml</file>
          </vtwebmandiri>
        </updates>
      </layout>
    </adminhtml>
  </global>
  <default>
    <payment>
      <vtwebmandiri>
        <model>vtwebmandiri/standard</model>
        <active>0</active>
        <title>Credit card installment Mandiri</title>
        <sort_order>4</sort_order>
        <treshold>500000</treshold>
        <enable_3d_secure>true</enable_3d_secure>
      </vtwebmandiri>
    </payment>
  </default>
  <frontend>
    <routers>
      <vtwebmandiri>
        <use>standard</use>
        <args>
          <module>Veritrans_Vtwebmandiri</module>
          <frontName>vtwebmandiri</frontName>
        </args>
      </vtwebmandiri>
    </routers>
  </frontend>
  <adminhtml>
    <layout>
      <updates>
        <veritrans_vtwebmandiri>
          <file>veritrans.xml</file>
        </veritrans_vtwebmandiri>
      </updates>
    </layout>
  </adminhtml>
</config>
