<?xml version="1.0"?>
<config>
  <modules>
    <Veritrans_VtWebbni>
      <version>0.1.0</version>
    </Veritrans_VtWebbni>
  </modules>
  <global>
    <models>
      <vtwebbni>
        <class>Veritrans_Vtwebbni_Model</class>
      </vtwebbni>
    </models>
    <helpers>
      <vtwebbni>
        <class>Veritrans_Vtwebbni_Helper</class>
      </vtwebbni>
    </helpers>
    <blocks>
      <vtwebbni>
        <class>Veritrans_Vtwebbni_Block</class>
      </vtwebbni>
    </blocks>
    <adminhtml>
      <layout>
        <updates>
          <vtwebbni>
            <file>veritrans.xml</file>
          </vtwebbni>
        </updates>
      </layout>
    </adminhtml>
  </global>
  <default>
    <payment>
      <vtwebbni>
        <model>vtwebbni/standard</model>
        <active>0</active>
        <title>Credit card installment BNI</title>
        <payment_action>sale</payment_action>
        <sort_order>3</sort_order>
        <conversion_rate>10000</conversion_rate>
        <treshold>500000</treshold>
        <enable_3d_secure>true</enable_3d_secure>
        <environment>sandbox</environment>
      </vtwebbni>
    </payment>
  </default>
  <frontend>
    <routers>
      <vtwebbni>
        <use>standard</use>
        <args>
          <module>Veritrans_Vtwebbni</module>
          <frontName>vtwebbni</frontName>
        </args>
      </vtwebbni>
    </routers>
  </frontend>
  <adminhtml>
    <layout>
      <updates>
        <veritrans_vtwebbni>
          <file>veritrans.xml</file>
        </veritrans_vtwebbni>
      </updates>
    </layout>
  </adminhtml>
</config>
