<?xml version="1.0"?>
<config>
  <modules>
    <Veritrans_VtWebio>
      <version>0.1.0</version>
    </Veritrans_VtWebio>
  </modules>
  <global>
    <models>
      <vtwebio>
        <class>Veritrans_Vtwebio_Model</class>
      </vtwebio>
    </models>
    <helpers>
      <vtwebio>
        <class>Veritrans_Vtwebio_Helper</class>
      </vtwebio>
    </helpers>
    <blocks>
      <vtwebio>
        <class>Veritrans_Vtwebio_Block</class>
      </vtwebio>
    </blocks>
    <adminhtml>
      <layout>
        <updates>
          <vtwebio>
            <file>veritrans.xml</file>
          </vtwebio>
        </updates>
      </layout>
    </adminhtml>
  </global>
  <default>
    <payment>
      <vtwebio>
        <model>vtwebio/standard</model>
        <active>0</active>
        <title>Credit card Offline installment</title>
        <sort_order>4</sort_order>
        <treshold>500000</treshold>
        <enable_3d_secure>true</enable_3d_secure>
      </vtwebio>
    </payment>
  </default>
  <frontend>
    <routers>
      <vtwebio>
        <use>standard</use>
        <args>
          <module>Veritrans_Vtwebio</module>
          <frontName>vtwebio</frontName>
        </args>
      </vtwebio>
    </routers>
  </frontend>
  <adminhtml>
    <layout>
      <updates>
        <veritrans_vtwebio>
          <file>veritrans.xml</file>
        </veritrans_vtwebio>
      </updates>
    </layout>
  </adminhtml>
</config>
